<?xml version='1.0' encoding='UTF-8'?>
<!--标准的XML文件的起始行，version='1.0'表明XML的版本，encoding='UTF-8'表明XML文件的编码方式 -->

<!--表明解析本XML文件的DTD文档位置，DTD是Document Type Definition 的缩写,即文档类型的定义,
XML解析器使用DTD文档来检查XML文件的合法性。
hibernate.sourceforge.net/hibernate-configuration-3.0dtd可以在Hibernate3.1.3软件包中的
src\org\hibernate目录中找到此文件-->   
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!--声明Hibernate配置文件的开始 -->
<hibernate-configuration>
	
	<!--表明以下的配置是针对session-factory配置的，SessionFactory是Hibernate中的一个类，
	这个类主要负责保存HIbernate的配置信息，以及对Session的操作-->   
	<session-factory>
		<!--配置数据库的驱动程序，Hibernate在连接数据库时，需要用到数据库的驱动程序-必须 -->
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<!--设置数据库的连接url:jdbc:mysql://127.0.0.1:3306/hib,其中127.0.0.1表示mysql服务器名称,
		3306是连接端口，此处为本机,hib是数据库名-必须 -->
		<property name="connection.url">
			jdbc:mysql://127.0.0.1:3306/hib
		</property>
		<!-- 设置数据库的用户名 -必须 -->
		<property name="connection.username">root</property>
		<!-- 设置数据库的密码 -必须 -->
		<property name="connection.password">1234</property>
		<!--数据库连接池的大小 -->
		<!-- <property name="connection.pool.size">20 </property> 与下句是一样的 -->
		<property name="hibernate.connection.pool.size">20 </property>
		
        <!--是否在后台显示Hibernate用到的SQL语句，开发时设置为true，便于查错，
        程序运行时可以在Eclipse的控制台显示Hibernate的执行Sql语句。
        项目部署后可以设置为false，提高运行效率-->   
        <property name="hibernate.show_sql">true </property>   
        
        <!--jdbc.fetch_size是指Hibernate每次从数据库中取出并放到JDBC的Statement中的记录条数。
        Fetch Size设的越大，读数据库的次数越少，速度越快，Fetch Size越小，读数据库的次数越多，速度越慢-->   
        <property name="jdbc.fetch_size">50 </property> 
          
        <!--jdbc.batch_size是指Hibernate批量插入,删除和更新时每次操作的记录数。
        Batch Size越大，批量操作的向数据库发送Sql的次数越少，速度就越快，同样耗用内存就越大-->   
        <property name="jdbc.batch_size">23 </property>  
         
        <!--jdbc.use_scrollable_resultset是否允许Hibernate用JDBC的可滚动的结果集。
        对分页的结果集。对分页时的设置非常有帮助-->   
        <property name="jdbc.use_scrollable_resultset">false </property> 
          
        <!--connection.useUnicode连接数据库时是否使用Unicode编码-->   
        <property name="connection.useUnicode">true</property>   
        <!--connection.characterEncoding连接数据库时数据的传输字符集编码方式-->   
    	<property name="connection.characterEncoding">utf-8</property> 
		

<!--hibernate.dialect 只是Hibernate使用的数据库方言,就是要用Hibernate连接那种类型的数据库服务器。-->   
		<!--这句不用管，照写就是 -必须 -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
	
		<!-- 指定映射文件为“cn/hncu/domain/Student.hbm.xml”，可以有多个 -用到了就必须 -->
		<mapping resource="cn/hncu/domain/Student.hbm.xml" />
	</session-factory>

</hibernate-configuration>