<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>

	<context-param>
		<!-- param的name必须为contextConfigLocation,Spring内部会解析的 -->
		<param-name>contextConfigLocation</param-name>
		<!-- contextConfigLocation参数的值，课配置多个，用英文逗号隔开 -->
		<param-value>
		    classpath:beans.xml,
			/WEB-INF/conf/applicationContext.xml
        </param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  <servlet>
    <servlet-name>StudServlet</servlet-name>
    <servlet-class>cn.hncu.stud.servlet.StudServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StudServlet</servlet-name>
    <url-pattern>/servlet/StudServlet</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
