body{
	text-align: center;
}
table{
	border: 1px solid red;
	width:1000px;
	border-collapse: collapse;
}
td{
	text-align:center;
	border: 1px solid red;
}
th{
	text-align:center;
	border: 1px solid red;
}
div{
	 margin:0 auto;
	 width:1000px;
}