<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 这是最简单的配置版！！！ -->
	<session-factory>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://127.0.0.1:3306/hib
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">1234</property>

		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		
		<!--connection.useUnicode连接数据库时是否使用Unicode编码-->   
        <property name="connection.useUnicode">true</property>   
        <!--connection.characterEncoding连接数据库时数据的传输字符集编码方式-->   
    	<property name="connection.characterEncoding">utf-8</property> 

		<mapping resource="cn/hncu/domain/Student.hbm.xml" />
	</session-factory>

</hibernate-configuration>