<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 这是最简单的配置版！！！ -->
	<session-factory>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://127.0.0.1:3306/hib
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">1234</property>

		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		
		  <!--是否在后台显示Hibernate用到的SQL语句，开发时设置为true，便于查错，
        程序运行时可以在Eclipse的控制台显示Hibernate的执行Sql语句。
        项目部署后可以设置为false，提高运行效率-->   
        <property name="hibernate.show_sql">true </property>   
        
        <!--jdbc.fetch_size是指Hibernate每次从数据库中取出并放到JDBC的Statement中的记录条数。
        Fetch Size设的越大，读数据库的次数越少，速度越快，Fetch Size越小，读数据库的次数越多，速度越慢-->   
        <property name="jdbc.fetch_size">50 </property> 
          
        <!--jdbc.batch_size是指Hibernate批量插入,删除和更新时每次操作的记录数。
        Batch Size越大，批量操作的向数据库发送Sql的次数越少，速度就越快，同样耗用内存就越大-->   
        <property name="jdbc.batch_size">23 </property>  
         
        <!--jdbc.use_scrollable_resultset是否允许Hibernate用JDBC的可滚动的结果集。
        对分页的结果集。对分页时的设置非常有帮助-->   
        <property name="jdbc.use_scrollable_resultset">false </property> 
		
		<!--connection.useUnicode连接数据库时是否使用Unicode编码 -->
		<property name="connection.useUnicode">true</property>
		<!--connection.characterEncoding连接数据库时数据的传输字符集编码方式 -->
		<property name="connection.characterEncoding">utf-8</property>

		<mapping resource="cn/hncu/domain/Student.hbm.xml" />
	</session-factory>

</hibernate-configuration>